# --- BD RDS PostgreSQL ---
DB_HOST=localhost
DB_PORT=5432
DB_NAME=cruzazul_erp
DB_USER=postgres
DB_PASSWORD=postgres

# --- JWT ---
JWT_SECRET=cambiame_por_un_secreto_seguro
JWT_PARTIAL_SECRET=cambiame_por_otro_secreto_parcial

# --- Server ---
PORT=3000
SESSION_EXPIRY=1h
ADMIN_CODE=admin123
