node_modules/
.env
*.log
npm-debug.log*
.DS_Store
Thumbs.db

# Prisma
prisma/*.db
prisma/*.db-journal

# Terraform
terraform/.terraform/
terraform/*.tfstate
terraform/*.tfstate.*
terraform/*.tfvars
terraform/crash.log

# Client build
client/build/
client/node_modules/
client/.env

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
desktop.ini
